@import url(../../assets/font/Inter/stylesheet.css);
.online {
  &__counter {
    align-items: flex-start;
    background: linear-gradient(90deg, #21242b, rgba(33, 36, 43, 0.54));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 12px 4px 30px;
    position: relative;
    margin-left: 24px;
  }
  &__counter::after {
    content: "";
    position: absolute;
    left: 12px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: green;
    animation: indicator-pulse 1.5s infinite ease;
  }
  &__counter-number {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
  }
  &__counter-label {
    font-family: "Inter";
    font-size: 9px;
    font-weight: 500;
    line-height: 12px;
    color: rgba(79, 85, 98, 1);
  }
}

@keyframes indicator-pulse {
   0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
