.footer {
  height: 72px;
  width: 100%;
  border-top: 1px solid rgba(40, 43, 51, 1);
  margin-top: auto;
  &__wrapper {
    justify-content: space-between;
  }
  &__right-group {
    display: flex;
    gap: 32px;
  }
  &__copyrights-link {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(79, 85, 98, 1);
    border: none;
    cursor: pointer;
    transition: .13s;
    background-color: initial;
  }
  &__copyrights-link:hover {
    color: #858892;
  }
}
